{# table categories #}
{% load dis_play %}
<div class="row mt-3">
    <div class="col-4 col-md-2">
        <h3>{% dis_play "Line" %}</h3>
    </div>
    <div class="col-4 col-md-2 mb-3">
        <button id="create-line" class="btn btn-primary" type="button" name="button">
            <i class="fa fa-plus mr-2"></i>{% dis_play "Create" %}
        </button>
    </div>
    <div class="col-8 text-right">
    {% if not sort %}
        {% include 'app_create_chklst/partials/_linepaginator.html' with page_obj=line_users %}
    {% endif %}
    </div>
    <div class="row align-items-top justify-content-center text-center col-12 small">
    {% include 'partials/_errormessage.html' %}
        <table id="cat_table" class="table">
            <thead>
            <tr>
                <th class="text-center" style="width: 5em;" scope="col">#</th>
                {% if sort %}
                    {% for sort_link in sort_link_list %}
                         <th scope="col">
                            <a href="{{ sort_link.path }}">
                                {% dis_play sort_link.title %}
                                {% if sort_link.indicator == 'sort-asc' %}▲{% endif %}
                                {% if sort_link.indicator == 'sort-desc' %}▼{% endif %}
                            </a>
                     </th>
                    {% endfor %}
                {% else %}
                    <th class="text-center" style="width: 20em;" scope="col">{% dis_play "Key" %}</th>
                    <th class="text-center" scope="col">{%  dis_play "Wording" %}</th>
                    <th class="text-center" style="width: 5em;" scope="col">{% dis_play "Enable" %}</th>
                    <th class="text-center" style="width: 5em;" scope="col">{% dis_play "Type" %}</th>
                {% endif %}
                {% if user.is_superuser %}
                    <th class="text-center" style="width: 5em;" scope="col">{% dis_play "Company" %}</th>
                {% endif %}
                <th class="text-center" style="width: 10em;" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for line in line_users %}
                <tr>
                    <th class="text-center" scope="row">{{ forloop.counter }}</th>
                    <td class="text-center">{{ line.line_key }}</td>
                    <td class="text-center">{{ line.line_wording }}</td>
                    <td class="text-center">
                        {% if line.line_enable %}<i class="fas fa-check" style="color: green"></i>
                        {% else %}<i class="fas fa-times" style="color: red"></i>
                        {% endif %}
                    </td>
                    <td class="text-center">{% dis_play line.get_line_type_display %}</td>
                    {% if user.is_superuser %}<td class="text-center">{{ line.line_company }}</td>{% endif %}
                    <td class="text-center">
                    <span data-tooltip="{%  dis_play "Display" %}">
                        <span class="bs-modal" data-form-url="{% url 'app_create_chklst:chk-linedisplay' line.pk %}" ><i class="tabicon fas fa-eye mr-2" style="color: forestgreen; !important"></i></span>
                    </span>
                    <span data-tooltip="{%  dis_play "Update" %}">
                        <span class="bs-modal" data-form-url="{% url 'app_create_chklst:chk-lineupdate' line.pk %}" ><i class="tabicon fas fa-edit mr-2" style="color: dodgerblue;"></i></span>
                    </span>
                    <span data-tooltip="{%  dis_play "Delete" %}">
                        <span class="bs-modal" data-form-url="{% url 'app_create_chklst:chk-linedelete' line.pk %}" ><i class="tabicon fas fa-trash-alt" style="color: red; !important"></i></span>
                    </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if sort %}
            {% include 'partials/_pagination_listview_jm.html' %}
        {% endif %}
    </div>
</div>