{# template for the reset password completed  #}
{% extends 'base.html' %}
{% load static %}
{% load dis_play %}

{% block body_block %}
<header class="my_body">
    <div class="container">
        {% include 'partials/_title.html' %}
            {% if user.is_authenticated %}
                <div class="row align-items-center justify-content-center text-center col-12">
                    <h2>
                        <strong>{% dis_play "User" %} </strong>{{ user.get_username }} -
                        <strong>{% dis_play "Email" %} </strong>{{user.email }}
                    </h2>
                </div>
            {% endif %}

        <div class="row">
            <div class="col-12 align-items-center justify-content-center text-center">
                <p>{% dis_play "Passwordresetcomplete" %}</p>
            </div>
        </div>
        <hr />
        <div class="row align-items-center justify-content-center text-center col-12">
            <a href="{% url "app_home:index" %}">
                <button class="btn btn-primary">{% dis_play 'Home' %}</button>
            </a>
        </div>




    </div>
</header>
{% endblock body_block %}
