language: python
python: '3.8'

branches:
   only:
      - CI

        #addons:
        #firefox: latest

before install:
   # - wget https://github.com/mozilla/geckodriver/releases/download/v0.27.0/geckodriver-v0.27.0-linux64.tar.gz
   # - mkdir geckodriver
   # - tar -xzf geckodriver-v0.27.0-linux64.tar.gz -C geckodriver
   # - export PATH=$PATH:$PWD/geckodriver
   # - geckodriver --version
   # - export MOZ_HEADLESS=1

before_script:
   - pip install -r requirements.txt
   - psql -c 'create database testdb;' -U postgres
   - cd checklistmgr

env:
  global:
    - DJANGO_SETTINGS_MODULE="checklistmgr.travis_settings"
    - MOZ_HEADLESS=1


services:
   - postgresql

script:
   - python3 manage.py test
