.switch-toggle {
  /*float: left;
  background: #242729; */
  background: darkgray;
  height: 2em;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;
}
.switch-toggle input {
  position: absolute;
  opacity: 0;
}
.switch-toggle input + label {
  padding: 7px;
  /*float:left;*/
  color: #fff;
  cursor: pointer;
}

.valid input:checked + label {
  background: green;
}
.NA input:checked + label {
  background: blue;
}
.default input:checked + label {
  background: red;
}

.dz{
  border: dashed !important;
  border-color: #ccc !important;
  border-radius: 10px !important;
}

.dz:hover {
  background-color: aliceblue !important;
}