{# legal & contrib page : The same page with aa display none or block in a JS script #}
{% extends 'base.html' %}
{% load static %}
{% load dis_play %}
{% block body_block %}
<header class="my_body">

    <div class="container">
        {% include 'partials/_title.html' %}
        <div class="row d-block">
            <nav class="navbar navbar-expand  legal-nav">
                <ul class="navbar-nav">
                    <li class="nav-item small">
                        <a class="nav-link " id="legal-click" href="#">{%  dis_play "Legal" %}</a>
                    </li>
                    <li class="nav-item small">
                        <a class="nav-link" id="contrib-click" href="#">{% dis_play "Contributors" %}</a>
                    </li>
                </ul>
            </nav>

            <div id="affiche" style="display: block;">

            </div>
            <div id="lega" style="display: none;" >
                <p>
                    <p class="h2">Identité</p>
                    <p><span class="font-weight-bold">{% dis_play "app_home_legal_text1" %} : </span> Check List Manager <br/>
                    <span class="font-weight-bold">{% dis_play "app_home_legal_text2" %} : </span>http://checklistmgr.jm-hayons74.fr <br />
                    <span class="font-weight-bold">{% dis_play "app_home_legal_text3" %} : </span>JMLM <br />
                    <span class="font-weight-bold">{% dis_play "app_home_legal_text4" %} : </span>JMLM
                    </p>
                <p>
                    <span class="font-weight-bold">{% dis_play "app_home_legal_text5" %} : </span>JMLM<br />
                    <span class="font-weight-bold">{% dis_play "app_home_legal_text6" %} : </span>JMLM<br />
                    <span class="font-weight-bold">{% dis_play "app_home_legal_text7" %} : </span>Digital Ocean<br />
                    <span class="font-weight-bold">{% dis_play "app_home_legal_text8" %} : </span><br />
                    Digital Ocean Inc – 101 Ave of the Americas 10th Floor, New York 10013, United States of America +1 888 890 6714
                        –  noc(at)digitalocean.com
                </p>
                <p class="h2">{% dis_play "app_home_legal_text9" %}<p>
                <textarea class="legal">
                    {% dis_play "app_home_legal_text10" %}
                {% dis_play "app_home_legal_text11" %}

                    {% dis_play "app_home_legal_text12" %}
                {% dis_play "app_home_legal_text13" %}
                {% dis_play "app_home_legal_text14" %}

                    {% dis_play "app_home_legal_text15" %}
                {% dis_play "app_home_legal_text16" %}
                {% dis_play "app_home_legal_text17" %}

                    {% dis_play "app_home_legal_text18" %}
                {% dis_play "app_home_legal_text19" %}
                {% dis_play "app_home_legal_text20" %}
                {% dis_play "app_home_legal_text21" %}
                {% dis_play "app_home_legal_text22" %}
                </textarea>
                <p class="h2">{% dis_play "app_home_legal_text23" %}</p>
                <span class="font-weight-bold">{% dis_play "app_home_legal_text24" %}</span><br />
                {% dis_play "app_home_legal_text25" %}
                <span class="font-weight-bold">{% dis_play "app_home_legal_text26" %}</span><br />
                {% dis_play "app_home_legal_text27" %}
                {% dis_play "app_home_legal_text28" %}
                {% dis_play "app_home_legal_text29" %}
                {% dis_play "app_home_legal_text30" %}

                <p class="h2 mt-2">{% dis_play "app_home_legal_text31" %}</p>
                {% dis_play "app_home_legal_text32" %}<br />
                {% dis_play "app_home_legal_text33" %}<br />
                <hr />
                <p>
                <ol>
                    <li>{% dis_play "app_home_legal_text34" %}</li>
                    <li>{% dis_play "app_home_legal_text35" %}</li>
                    <li>{% dis_play "app_home_legal_text36" %}</li>
                    <li>{% dis_play "app_home_legal_text37" %}</li>
                    <li>{% dis_play "app_home_legal_text38" %}</li>
                    <li>{% dis_play "app_home_legal_text39" %}</li>
                    <li>{% dis_play "app_home_legal_text40" %}</li>
                    <li>{% dis_play "app_home_legal_text41" %}</li>
                    <li>{% dis_play "app_home_legal_text42" %}</li>
                </ol>
                </p>
            </div>
        </p>
        </div>


            <div id="contrib" style="display: none;">
                <p>
                 <p class="h2">{% dis_play "app_home_legal_text43" %}</p>
                </p>
                <p>{% dis_play "app_home_legal_text44" %} </p>
                <p>{% dis_play "Develframework" %} : <a href="https://www.djangoproject.com/">Django</a></p>
                <p>{% dis_play "CSSframework" %} : <a href="https://getbootstrap.com/">Bootstrap</a></p>
                <p>{% dis_play "app_home_legal_text45" %} : <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
                     <a href="https://www.flaticon.com/" title="Flaticon"> - www.flaticon.com</a></p>
                <p>{% dis_play "app_home_legal_text46" %} : <a href="https://fontawesome.com/">Font Awsome</a>  </p>
                <p>{% dis_play "ModalViews" %} : <a href="https://github.com/trco/django-bootstrap-modal-forms">https://github.com/trco/django-bootstrap-modal-forms</a></p>
                <p>{% dis_play "Sortlists" %} : <a href="https://github.com/aptivate/django-sortable-listview">django-sortable-listview</a></p>
                <p>Dropzone : <a href="https://www.dropzonejs.com/">dropzone.js</a></p>
                <p>Drag'nDrop : <a href="https://github.com/Bernardo-Castilho/dragdroptouch">dragdroptouch</a></p>
                <p>{% dis_play "pdfcreate" %} : <a href="https://weasyprint.org/">Weasyprint</a></p>
            </div>
        </div>
    {% include 'partials/_back.html' %}
    </div>
</header>
{% endblock body_block %}