{# Homepage template - 3 parts : The SearchForm - Presentation (about) - Contact #}
{% extends 'base.html' %}
{% load static %}
{% load dis_play %}
{% block body_block %}
<header class="my_body">

    <div class="container">
        <div class="row align-items-center justify-content-center text-center h-50 w-100 col-12">
            <h2 class="my_title align-self-center">{% dis_play "Legal" %}</h2>
        </div>
        <div class="row d-block">
            <nav class="navbar navbar-expand  legal-nav">
                <ul class="navbar-nav">
                    <li class="nav-item small">
                        <a class="nav-link " id="legal-click" href="#">{%  dis_play "Legal" %}</a>
                    </li>
                    <li class="nav-item small">
                        <a class="nav-link" id="contrib-click" href="#">{% dis_play "Contributors" %}</a>
                    </li>
                </ul>
            </nav>

            <div id="affiche" style="display: block;">

            </div>
            <div id="lega" style="display: none;" >
                <p>
                    <p class="h2">Identité</p>
                    <p><span class="font-weight-bold">Nom du site web : </span> Check List Manager <br/>
                    <span class="font-weight-bold">Adresse : </span>http://checklistmgr.jm-hayons74.fr <br />
                    <span class="font-weight-bold">Propriétaire : </span>JMLM <br />
                    <span class="font-weight-bold">Responsable de publication : </span>JMLM
                    </p>
                <p>
                    <span class="font-weight-bold">Conception et réalisation : </span>JMLM<br />
                    <span class="font-weight-bold">Animation : </span>JMLM<br />
                    <span class="font-weight-bold">Hébergement : </span>Digital Ocean<br />
                    <span class="font-weight-bold">Personne morale : </span><br />
                    Digital Ocean Inc – 101 Ave of the Americas 10th Floor, New York 10013, United States of America +1 888 890 6714
                        –  noc(at)digitalocean.com
                </p>
                <p class="h2">Conditions d’utilisation<p>
                <textarea class="legal">
                    Utilisation
                L’utilisation du présent site implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment.

                    Informations.
                Les informations et documents du site sont présentés à titre indicatif, ne revêtent pas un caractère exhaustif, et ne peuvent engager la responsabilité du propriétaire du site.
                Le propriétaire du site ne peut être tenu responsable des dommages directs et indirects consécutifs à l’accès au site.

                    Interactivité
                Les utilisateurs du site peuvent éventuellement y déposer du contenu, apparaissant sur le site dans des espaces dédiés (notamment via les commentaires). Le contenu déposé reste sous la responsabilité de leurs auteurs, qui en assument pleinement l’entière responsabilité juridique.
                Le propriétaire du site se réserve le droit de retirer sans préavis et sans justification tout contenu déposé par les utilisateurs qui ne satisferait pas à la charte déontologique du site ou à la législation en vigueur.

                    Propriété intellectuelle
                Sauf mention contraire, tous les éléments accessibles sur le site (textes, images, graphismes, logo, icônes, sons, logiciels, etc.) restent la propriété exclusive de leurs auteurs, en ce qui concerne les droits de propriété intellectuelle ou les droits d’usage. 1
                Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de l’auteur.23
                Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient est considérée comme constitutive d’une contrefaçon et peut être poursuivie en justice. 4
                Les marques et logos reproduits sur le site sont déposés par les sociétés qui en sont propriétaires.
                </textarea>
                <p class="h2">Liens</p>
                <span class="font-weight-bold">Liens sortants</span><br />
                Le propriétaire du site décline toute responsabilité et n’est pas engagé par le référencement via des liens hypertextes, de ressources tierces présentes sur le réseau Internet, tant en ce qui concerne leur contenu que leur pertinence.
                <span class="font-weight-bold">Liens entrants</span><br />
                Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, à condition que ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non équivoque afin d’éviter : <br />
                tout risque de confusion entre le site citant et le propriétaire du site <br />
                ainsi que toute présentation tendancieuse, ou contraire aux lois en vigueur. <br />
                Le propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime que le site source ne respecte pas les règles ainsi définies.<br />

                <p class="h2 mt-2">Confidentialité</p>
                Tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une preuve d’identité. 5 6 7 8 <br />
                Le site ne recueille pas d’informations personnelles, et n’est pas assujetti à déclaration à la CNIL. 9 <br />
                <hr />
                <p>
                <ol>
                    <li>Articles L111-1 et suivants du Code de la Propriété Intellectuelle du 1er juillet 1992</li>
                    <li>Article 41 de la loi du 11 mars 1957</li>
                    <li>Article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995</li>
                    <li>Articles L.335-2 et suivants du Code de Propriété Intellectuelle</li>
                    <li>Loi n° 78-87 du 6 janvier 1978, modifiée par la loi n° 2004-801 du 6 août 2004, relative à l’informatique, aux fichiers et aux libertés</li>
                    <li>Articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés</li>
                    <li>Loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données</li>
                    <li>Loi n° 2004-801 du 6 août 2004</li>
                    <li>Article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique</li>
                </ol>
                </p>
            </div>
        </p>
        </div>


        <div id="contrib" style="display: none;">
            <p>
             <p class="h2">Crédits</p>
            </p>
            <p> Tout est fait (ou presque) par JMLM ! </p>
            <p> Icon MailBox made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
                from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
            <p> Other icons made by <a href="https://fontawesome.com/">Font Awsome</a>  </p>
        </div>
        </div>
    {% include 'partials/_back.html' %}
    </div>
</header>
{% endblock body_block %}