{# main page  #}
{% extends 'base.html' %}
{% load static %}
{% load dis_play %}
{% block body_block %}
<div class="container">
    <div class="my_body" id="main">
        {% include 'partials/_title.html' %}
        <div class="row buttons col-12 mt-5 mb-5">
            <div class="col-sm-2 col-12">
                <a href="{% url 'app_user:list' %}">
                    <button type="button" class="btn btn-primary btn-block">
                        <i class="fas fa-3x fa-user"></i><br />
                        {% dis_play "Users" %}
                    </button>
                </a>
            </div>
            {% if user.is_superuser %}
                <div class="col-sm-2 col-12">
                    <a href="{% url 'app_user:listcompanies' %}">
                        <button type="button" class="btn btn-primary btn-block">
                            <i class="fas fa-3x fa-building"></i><br />
                            {% dis_play "Companies" %}
                        </button>
                    </a>
                </div>
            {% endif %}
            <div class="col-sm-2 col-12">
                <a href="{% url 'app_create_chklst:chk-main' %}">
                    <button type="button" class="btn btn-primary btn-block">
                        <i class="fas fa-3x fa-tasks"></i><br />
                        {% dis_play "Checklists" %}
                    </button>
                </a>
            </div>
        </div>
        {% include 'partials/_back.html' %}
    </div>
</div>
{% endblock body_block %}