{# main page  #}
{% extends 'base.html' %}
{% load static %}
{% load dis_play %}
{% block body_block %}
<div class="container">
    <div class="my_body" id="main">
        {% include 'partials/_title.html' %}
        <div class="row buttons col-12 mt-5 mb-5">
            <div class="col-sm-2 col-12">
                <a href="{% url 'app_user:list' %}">
                    <button type="button" class="btn btn-primary btn-block">
                        <i class="fas fa-3x fa-user"></i><br />
                        {% dis_play "Users" %}
                    </button>
                </a>
            </div>
            {% if user.is_superuser %}
                <div class="col-sm-2 col-12">
                    <a href="{% url 'app_user:listcompanies' %}">
                        <button type="button" class="btn btn-primary btn-block">
                            <i class="fas fa-3x fa-building"></i><br />
                            {% dis_play "Companies" %}
                        </button>
                    </a>
                </div>
            {% endif %}
            {% if user.admin or not user.pro%}
            <div class="col-sm-2 col-12">
                <a href="{% url 'app_create_chklst:chk-main' %}">
                    <button type="button" class="btn btn-primary btn-block">
                        <i class="fas fa-3x fa-tasks"></i><br />
                        {% dis_play "Checklists" %}
                    </button>
                </a>
            </div>
            {% endif %}
            {% if user.pro %}
            <div class="col-sm-2 col-12">
                <a href="{% url 'app_input_chklst:inp-main' %}">
                    <button type="button" class="btn btn-primary btn-block">
                        <i class="fas fa-3x fa-cogs"></i><br />
                        {% dis_play "Materials" %}
                    </button>
                </a>
            </div>
            {% endif %}
        </div>
        {% include "app_home/partials/_checkliststable.html" %}
        <hr class="bold-hr mt-3" />
        <div class="row class="mt-2>
            <div class="col-12 text-center">
                <h3>Dernières Check-lists</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul>
                    {% for checklistok in checklistsdone %}
                        {% if checklistok.cld_valid %}
                            <li class="mt-1 text-success">
                        {% else %}
                            <li class="mt-1 text-danger">
                        {% endif %}
                        <a href="{{ checklistok.cld_pdf_file.url }}" target="_blank" style="color:inherit;">
                        {{ checklistok.cld_key }} -
                        {{checklistok.cld_manager.mgr_name}} - {{checklistok.cld_material.mat_designation}}</a>
                        - {{ checklistok.modified_date|date:"d/m/Y" }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include 'partials/_back.html' %}
    </div>
</div>
{% endblock body_block %}