.tabicon:hover{
  opacity: 0.7;
  cursor: pointer; !important;
}
.bold-hr{
    border: 1px solid black;
}
:root {
	/* colors.co */
	--maya-blue: #5cc8ffff;
	--middle-grey: #93867fff;
	--black-olive: #343633ff;
	--middle-blue-purple: #7d70baff;
	--mauve: #dec1ffff;

	/*https://javier.xyz/cohesive-colors/*/
	--colors : #00adb8, #4fc3bf, #faf3e1, #c1e42b, #aac100;
	--color1: #00adb8;
	--color2: #4fc3bf;
	--color3: #faf3e1;
	--color4: #c1e42b;
	--color5: #aac100;
}

/*.lists.list {
	display: flex;
	flex-flow: column;
	flex: 1;

	width: 100%;
	#min-width: 250px;
	#max-width: 350px;
	#height: 90%;
	#min-height: 50%;

	background-color: red;
	margin-top: 5px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 5px;
	padding: 8px;
	transition: all 0.2s linear;
}*/

.lists .list .list-item {
	border-radius: 8px;
	padding: 15px 10px;
	text-align: center;
	margin: 4px 0px;
}
.lists .list .cat-item{
	background-color: var(--maya-blue);
}
.lists .list .line-item{
	background-color: var(--mauve);
}

.categories{
	background-color: var(--color1);
	height: 500px;
	overflow-y: auto;
}
.lines{
	background-color: var(--middle-blue-purple);
	height: 500px;
	overflow-y: auto;
}
.checklists{
	background-color: var(--middle-grey);
	height: 500px;
	overflow-y: auto;
}

@media screen and (max-width: 979px){
	.categories, .lines, .checklists{
		overflow-y: scroll !important;
		padding-right: 30px;
	}
}

/* display checklist modalbox */
.display-chklst{
    overflow-y: auto;
    max-height: 5em;
}