{# main page for checklist   #}
{% extends 'base.html' %}
{% load static %}
{% load dis_play %}
{% block body_block %}

<div class="my_body" id="main">
    {% include "partials/_modal.html" %}
    <div class="container">
        {% include 'partials/_title.html' %}
        <div class="row mt-5 mb-5">
            <div class="col-6 col-md-2">
                <a href="{% url 'app_create_chklst:chk-catmgmt' %}">
                    <button type="button" class="btn btn-primary btn-block">
                            <i class="fas fa-3x fa-paragraph"></i><br />
                            {% dis_play "Categories" %}
                    </button>
                </a>
            </div>
            <div class="col-6 col-md-2">
                <a href="{% url 'app_create_chklst:chk-linemgmt' %}">
                <button type="button" class="btn btn-primary btn-block">
                    <i class="fas fa-3x fa-align-justify"></i><br />
                    {% dis_play "Lines" %}
                </button>
                </a>
            </div>
            {% if user.is_superadmin %}
            <div class="col-sm-2 col-12">
                <a href="{% url 'app_create_chklst:catlineMgmt' %}">
                <button type="button" class="btn btn-primary btn-block">

                    {% dis_play "Categories" %} <br>&<br> {% dis_play "Lines" %}
                </button>
                </a>
            </div>
            {% endif %}
        </div>
        {% include "app_create_chklst/partials/_checkliststable.html" %}
        {% include 'partials/_back.html' %}
    </div>
</div>
<script>
const formURL = "{%  url 'app_create_chklst:chk-main' %}"
const formURL2 = "{%  url 'app_create_chklst:chk-main' %}"
const returnURL = "{% url 'app_create_chklst:chk-main' %}"
</script>
{% endblock body_block %}