{# Template for material --> input1  #}
{% extends 'base.html' %}
{% load static %}
{% load dis_play %}
{% load define %}
{% block body_block %}
<div class="container" id="checklist_mat">
{% include "partials/_modal.html" %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
             aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
    </div>
    <div class="my_body" id="main">
        {% include 'partials/_title.html' %}

        <form method="post" action="">
            {% csrf_token %}

            <div class="form-group">
                {% dis_play "Designation" %} :
                <select name="material" id="mat_select">
                    <option value="0">--------</option>
                    {% for mat in materials %}
                        <option value="{{ mat.id }}">{{ mat.mat_designation }}</option>
                    {% endfor %}
                </select>
            </div>

            <p class="form-group">
                {% dis_play "Serial/N" %} :<br/>
                {{ form.mat_registration }}
            </p>
            <div class="form-group">
                {% dis_play "Type" %} : {{ form.mat_type }}
            </div>
            <div class="form-group">
                {% dis_play "Model" %} : {{ form.mat_model }}
            </div>
            <div class="form-group">
                {% dis_play "Materialprim" %} : {{ form.mat_material }}
            </div>
            {{ form.mat_manager.as_hidden }}
            {{ form.mat_id.as_hidden }}
            <div class="row col-12">
                <div class="offset-4 offset-md-3 col-3 col-md-3 mb-3">
                    <input type="submit" class="btn btn-primary" value="{% dis_play "Next" %}"/>
                </div>
                <div class="col-5 col-md-6 mb-3 text-center">
                    <button id="create-mat" class="btn btn-primary" type="button" name="button">
                        <i class="fa fa-plus mr-2"></i>{% dis_play "Create" %}
                    </button>
                </div>
            </div>
 </form>

    </div>
{% include 'partials/_back.html' %}
</div>

<script>
let formURL = "{%  url 'app_input_chklst:inp-matcreate' %}".concat('',"?url=").concat('',"{{ url }}")
const formURL2 = "{%  url 'app_create_chklst:chk-main' %}"
</script>
{% endblock %}