{# main page for materials #}
{% extends 'base.html' %}
{% load static %}
{% load dis_play %}
{% block body_block %}

<div class="my_body" id="main">
    {% include "partials/_modal.html" %}
    <div class="container">
        {% include 'partials/_title.html' %}
        <div class="row mt-5 mb-5">
            <div class="col-4 col-md-2 ">
                <a href="{% url 'app_input_chklst:inp-mgrmgmt' %}">
                    <button type="button" class="btn btn-primary btn-block">
                            <i class="fas fa-3x fa-users-cog"></i><br />
                            {% dis_play "Managers" %}
                    </button>
                </a>
            </div>
            <div class="col-4 col-md-2 ">
                <a href="{% url 'app_input_chklst:inp-addrmgmt' %}">
                <button type="button" class="btn btn-primary btn-block">
                    <!-- <img src="{% static 'app_input_chklst/img/mailbox-small.png' %}"><br /> -->
                    <i class="fas fa-3x fa-mail-bulk"></i><br />
                    {% dis_play "Addresses" %}
                </button>
                </a>
            </div>
            {% if user.is_superadmin %}
            <div class="col-4 col-md-2 ">
                <a href="{% url 'app_create_chklst:catlineMgmt' %}">
                <button type="button" class="btn btn-primary btn-block">

                    {% dis_play "Categories" %} <br>&<br> {% dis_play "Lines" %}
                </button>
                </a>
            </div>
            {% endif %}
        </div>
        {% include "app_input_chklst/partials/_materialtable.html" %}
        {% include 'partials/_back.html' %}
    </div>
</div>
<script>
const formURL = "{%  url 'app_input_chklst:inp-matcreate' %}"
const formURL2 = "{%  url 'app_create_chklst:chk-main' %}"
const returnURL = "{% url 'app_input_chklst:inp-main' %}"
</script>
{% endblock body_block %}