{# manager table --> sortable view #}
{% load dis_play %}
<div class="row mt-3">
    <div class="col-6 col-sm-2">
        <h3>{% dis_play "Managers" %}</h3>
    </div>
    <div class="col-4 col-md-2 mb-3">
        <button id="create-mgr" class="btn btn-primary" type="button" name="button">
            <i class="fa fa-plus mr-2"></i>{% dis_play "Create" %}
        </button>
    </div>
    <div class="row align-items-top justify-content-center text-center col-12 small">
    {% include 'partials/_errormessage.html' %}
        <table id="cat_table" class="table">
            <thead>
            <tr>
                <th class="text-center" style="width: 5em;" scope="col">#</th>
                {% for sort_link in sort_link_list %}
                    <th scope="col">
                        <a href="{{ sort_link.path }}">
                            {% dis_play sort_link.title %}
                            {% if sort_link.indicator == 'sort-asc' %}▲{% endif %}
                            {% if sort_link.indicator == 'sort-desc' %}▼{% endif %}
                        </a>
                    </th>
                {% endfor %}
                {% if user.is_superuser %}
                    <th class="text-center" style="width: 5em;" scope="col">{% dis_play "Company" %}</th>
                {% endif %}
                <th class="text-center" style="width: 10em;" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for mgr in managers %}
                <tr>
                    <th class="text-center" scope="row">{{ forloop.counter }}</th>
                    <td class="text-center">{{ mgr.mgr_name }}</td>
                    <td class="text-center">{{ mgr.mgr_contact }}</td>
                    <td class="text-center">{{ mgr.mgr_phone }}</td>
                    <td class="text-center">{{ mgr.mgr_email1 }}</td>
                    <td class="text-center">{{ mgr.mgr_email2 }}</td>
                    <td class="text-center">
                        {% if mgr.mgr_enable %}<i class="fas fa-check" style="color: green"></i>
                        {% else %}<i class="fas fa-times" style="color: red"></i>
                        {% endif %}
                    </td>
                    {% if user.is_superuser %}<td class="text-center">{{ line.line_company }}</td>{% endif %}
                    <td class="text-center">
                    <span data-tooltip="{%  dis_play "Display" %}">
                        <span class="bs-modal" data-form-url="{% url 'app_input_chklst:inp-mgrdisplay' mgr.pk %}" ><i class="tabicon fas fa-eye mr-2" style="color: forestgreen; !important"></i></span>
                    </span>
                    <span data-tooltip="{%  dis_play "Update" %}">
                        <span class="bs-modal" data-form-url="{% url 'app_input_chklst:inp-mgrupdate' mgr.pk %}" ><i class="tabicon fas fa-edit mr-2" style="color: dodgerblue;"></i></span>
                    </span>
                    <span data-tooltip="{%  dis_play "Delete" %}">
                        <span class="bs-modal" data-form-url="{% url 'app_input_chklst:inp-mgrdelete' mgr.pk %}" ><i class="tabicon fas fa-trash-alt" style="color: red; !important"></i></span>
                    </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if sort %}
            {% include 'partials/_pagination_listview_jm.html' %}
        {% endif %}
    </div>
</div>