{# The footer part of the templates #}
{% load dis_play %}
{% block footer %}
    <footer class="bg-light py-5">
        <div class="container">
            <div class="row col-12 small text-center">
                <div class="col-md-6">
                    <a class="text-secondary" id="legal-click" href="{% url 'app_home:legal' %}#">{% dis_play "Legal" %}</a>
                </div>
                <div class="col-md-6">
                    <a class="text-secondary" id="contact-click" href={% url 'app_home:contact' %}>{% dis_play "Contact" %}</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}