{# The footer part of the templates #}
{% block footer %}
    <footer class="bg-light py-5">
        <div class="container">
            <div class="row col-12 small text-center text-muted">
                <div class="col-md-6 col-12">
                    <a href="#">mentions legales</a>
                </div>
                <div class="col-md-6 col-12">
                    <a href="#">Contactez-nous</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}