{% comment %}
The nav bar --> the most simple !
{% endcomment %}
{% load static %}
{% load dis_play  %}
{% load define %}
{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light bg-light col-12 small fixed-top">
    <a class="navbar-brand d-none d-sm-block" href="#">
        <img src="{% static 'img/chklistmgr_logo.png' %}"  width="30" height="30" alt="Logo">
    </a>
    <div id="app" class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">

                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app_home:index' %}">{% dis_play "Home" %}<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% get_media_prefix %}tuto/tutorial.pdf" target="_blank">{% dis_play "Tutorial" %}<span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app_home:main' %}">{% dis_play "Main" %}<span class="sr-only">(current)</span></a>
                    </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'app_user:list' %}">{% dis_play "Usermenu" %}</a>
                        </li>
                        {% if user.is_superuser %}
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'app_user:listcompanies' %}">{% dis_play "Companies" %}</a>
                            </li>
                        {% endif %}
                        {% if user.admin or not user.pro%}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'app_create_chklst:chk-main' %}">{% dis_play "Checklists" %}</a>
                            </li>
                        {% endif %}
                        {% if user.pro %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'app_input_chklst:inp-main' %}">{% dis_play "Materials" %}</a>
                            </li>
                        {% endif %}
                    {% endif %}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    {%  if not user.is_authenticated %}
                        <a class="nav-link" href="{% url 'app_user:register' %}">{% dis_play "Register" %}</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'app_user:logout' %}">{% dis_play "Signout" %}</a>
                    {%  endif %}
                </li>
            </ul>
        </div>
    </div>
   <div id="logo" class="d-none d-sm-block text-muted small mr-2">
        {{ user.username }}
    </div>
    <div id="logo" class="d-none d-sm-block text-muted small">
        {% dis_play_date %} - {% now "H:i" %}
    </div>
</nav>

{% endblock navbar %}